<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="logback.logdir" source="logback.logdir"  defaultValue="/nginx/installer/jar/log"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="logback.appname" value="KafkaTest" />
    <property name="maxHistory" value="180" />
    <property name="maxFileSize" value="500MB" />

    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logback.logdir}/root/${logback.appname}.log</File>
        <!--滚动策略，按照时间滚动 TimeBasedRollingPolicy-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${logback.logdir}/root/${logback.appname}.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <maxFileSize>${maxFileSize}</maxFileSize>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>-->
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 日志输出级别 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <!-- 日志输出编码 -->
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console" />
    </root>
</configuration>